firmware/.settings
firmware/_build
firmware/.idea

firmware/application/.idea
firmware/bootloader/.idea

firmware/src/amiibo_private.c
firmware/src/version.inc.h
firmware/src/version.json

firmware/application/log.log
firmware/bootloader/log.log


firmware/log.log

fp-info-cache
pixl.js-backups

hardware/RevB/pixl.js/gerber
hardware/RevB/pixl.js/bom
hardware/RevB/pixl.js/*.zip
hardware/RevB/pixl.js/*.pdf
hardware/RevB/pixl.js/*.kicad_prl
hardware/RevB/pixl.js/*.plt

hardware/RevA/pixl.js/gerber
hardware/RevA/pixl.js/bom
hardware/RevA/pixl.js/*.zip
hardware/RevA/pixl.js/*.pdf
hardware/RevA/pixl.js/*.kicad_prl


hardware/Ultra.RevB
hardware/Ultra.RevC
hardware/NEO.RevB

hardware/RevC
hardware/RevD
hardware/SP.RevA
hardware/PRO.RevA
hardware/LIPO.RevA
3d

dist
# venv stuff
.venv

firmware/scripts/.venv

firmware/temp

.DS_Store
*.un~
__pycache__/

**/.vscode/.cortex-debug*.json
firmware/bootloader/*.local.pem
firmware/bootloader/*private*.pem
firmware/bootloader/*release*.pem
firmware/bootloader/priv.pem

node_modules
apps/web/dist
packages/*/dist
*.tsbuildinfo
