[submodule "firmware/components/mlib"]
	path = firmware/components/mlib
	url = https://github.com/P-p-H-d/mlib.git
[submodule "firmware/components/tlsf"]
	path = firmware/components/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "firmware/components/cwalk"]
	path = firmware/components/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "firmware/components/spiffs"]
	path = firmware/components/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "firmware/components/littlefs"]
	path = firmware/components/littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "firmware/components/chameleon-ultra"]
	path = firmware/components/chameleon-ultra
	url = https://github.com/solosky/ChameleonUltra.git
